body{
    font-family: arial;
    background: rgb(209, 192, 192);
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.card{
    flex: 0 0 200px; margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    text-align: center;
}
.container img{
    max-width: 100%;
}
.texts{
    padding: 5px; margin-bottom:10px;
}
.texts button{
    border: none; padding: 5px 15px;
    background: #494948; color: rgb(0, 16, 244);
    font-weight: 600;

}
.texts button:hover{
    background: #E0E3DA; color: #f80a0e; cursor: pointer;
}